{% extends 'layouts/base.html' %}

{% block 'title' %} SignIn {% endblock %}

{% block content %}

{% include 'layouts/partials/menu.html' %}

<main class='container py-2'>
    <div class=row>
        <div class='col-md-5 offset-md-4'>
            <form method="POST" class='card card-body'>
                {% csrf_token %}
                <h1 class='text-center text-dark'>Registrate</h1>
                
                {{ field.label_tag }}<br>
                {{ field }}

                <div class='mb-1'>
                    <label for='first_name' class="h6 text-dark">Nombre</label>
                    <input type='text' name='first_name' id='first_name' class='form-control' placeholder='Ingrese su nombre'>
                </div>

                <div class='mb-2'>
                    <label for='last_name' class="h6 text-dark">Apellido</label>
                    <input type='text' name='last_name' id='last_name' class='form-control' placeholder='Ingrese su apellido'>
                </div>

                <p class='txt-form mb-1 text-secondary'><small> Únicamente letras, dígitos y @/./+/-/_</small></p>
                <div class='mb-1'>
                    <label for='username' class="h6 text-dark">Usuario</label>
                    <input type='text' name='username' id='username' class='form-control' placeholder='Ingrese su nombre de usuario'>
                </div>

                <div class='mb-2'>
                    <label for='email' class="h6 text-dark">Email</label>
                    <input type='email' name='email' id='email' class='form-control' placeholder='Ingrese su email'>
                </div>

                <p class='txt-form mb-1 text-secondary'><small>Su contraseña no puede asemejarse a sus datos personales.</small></p>
                <p class='txt-form mb-1 text-secondary'><small>Su contraseña debe contener al menos 8 caracteres.</small></p>
                <p class='txt-form mb-1 text-secondary'><small>Su contraseña no puede ser una clave utilizada comúnmente.</small></p>
                <p class='txt-form mb-1 text-secondary'><small>Su contraseña no puede ser completamente numérica.</small></p>
                <div class='mb-1'>
                    <label for='password1' class="h6 text-dark">Contraseña</label>
                    <input type='password' name='password1' id='password1' class='form-control' placeholder='Ingrese su contraseña'>
                </div>

                <div class='mb-2'>
                    <label for='password2' class="h6 text-dark">Confirma tu contraseña</label>
                    <input type='password' name='password2' id='password2' class='form-control' placeholder='Repita su contraseña'>
                </div>
                
                {% if form.errors %}
                    <p class='text-danger'>{{ form.errors }}</p>
                {% endif %}
                {% for message in messages %}
                    <p class='text-danger' id="messages">{{message}}</p>
                {% endfor %}

                <button class='btn btn-dark py-2'>
                    Registrate
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock content %}